body{
    background-color: #f0ead2;
}
#T1 {
    font-family: 'Abril Fatface', Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
    color: #6C584C;
    text-shadow: 0 0 20px rgba(61, 54, 50, 0.6);
}
#T2, #T3, #info, #confiabilidad, #ventajasydesventajas, #cuestionamientos, #evaluacion {
    font-family: 'PT Sans Narrow', Arial, Helvetica, sans-serif;
    font-size: 30px;
}
#ecosistemaacuatico, #ecosistematerrestre, #ecosistemaaereo {
    font-family: 'PT Sans Narrow', Arial, Helvetica, sans-serif;
    font-size: 27px;
    color:#84925c; 
    text-align: justify;
}


#lombrizfeliz {
    margin: 20px;
}

.pp {
    font-size: 20px;
    text-align: justify;
    line-height: 1.25;
}
img {
    border-radius: 20px;
    filter: blur(1px) brightness(95%) saturate(70%);
    transition: all 0.6s ;
    }
img:hover {
    filter: blur(0px) brightness(85%) saturate(100%); 
}

table {
    width: 50%;
    border: 2px solid #000;
    border-spacing: 0;
 }
 th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 0.3em;
    caption-side: bottom;
    border-spacing: 0;
    text-align: justify;
    padding: 1em;
 }
 th { 
    background-color:#ADC178;
    font-size: 1.5em;
    text-align: center;
 }
 td {
    background-color: #DDE5B6;
 }
 
 nav {
    background-color:#f5eccc;
    color:#6C584C; 
    width: auto;
    float:initial;
  border: 3px solid #6C584C; 

 }

 nav a {
    color: #1d1c1b;
    text-decoration: none;
 }

 #menu { 
    position: absolute;
    top: 3px;
    left: 900px;
    height: 10px;
    width: auto;
 }

 #primerbloque {
    width: auto;
    height: auto;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    border-width: 10px;
    border-style:groove;
    border-color: #84925c;
 }

 #segundobloque {
    margin-top: 20px;
    width: auto;
    height: auto;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    border-width: 10px;
    border-style:outset;
    border-color:#6C584C;
 }

 #tercerbloque {
    margin-top: 20px;
    width: auto;
    height: auto;
    position: relative;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    border-width: 10px;
    border-style:dotted;
    border-color:#4c6c54;
 }

 #cuartobloque {
    margin-top: 20px;
    width: auto;
    height: auto;
    position: relative;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    border-width: 10px;
    border-style:ridge;
    border-color:#564c6c;

 }

 #quintobloque {
    margin-top: 20px;
    width: auto;
    height: auto;
    position: relative;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    border-width: 10px;
    border-style:groove;
    border-color:#84925c;
    background-color: #ADC178;

 }

 #sextobloque {
    margin-top: 20px;
    width: auto;
    height: auto;
    position: relative;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    border-width: 5px;
    border-style:dashed;
    border-color:#6C584C;
    background-color:#bbbece;

 }